.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex input {
  margin: 0.9em 0em;
}

.d-flex button {
  margin: 1.5em .6em;
  padding: 0.3em 2.4em;
}

.container table {
  margin: 1em 10em;
}

table .btnedit {
  color: lightgreen;
  cursor: pointer;
}

table .btndelete {
  color: tomato;
  cursor: pointer;
}

body {
  background-color: darkslategray;
}