.myinterface {
   display: block;
   margin: 4em; 
   border: 1px solid black;
   padding: 1rem;
   background-color: darkslategrey;
}

.message-container {
    border: 1px solid yellowgreen;
    height: 40vh;
    width: inherit;
}

label {
    padding-inline-end: 10px;
}

input {
    padding-inline: 10px;
    width: 50vw;
}

button {
    padding-inline-end: 10px;
}

#form {
    display: block;
    padding-block: 1rem;
}