.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(69, 90, 100, 1.0);
/*	padding: 1.5rem;*/
	width: 100%;
	height: 7%;
	left:0;
}

.navbar a {
	text-decoration: none;
	color: rgba(144, 164, 174, 1.0);
	transition: all 0.5s ease;
}

.navbar .navbaractive {
	color: white;
}