.Die {
	margin: 1rem;
	display: inline;
}

button {
    margin: 2rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
    font-size: larger;
}

button:hover {
	background-color: darkslategray;
	cursor: pointer;
}