body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gotu";
  src: local("Gotu"), url("./assets/fonts/Gotu-Regular.ttf") format("truetype");
  font-weight: bold;
}