
.OnePokecard {
	
	background-color: white;
	color: grey;
	width: 140px;
    height: 200px;
    border-radius: 4px;
    font-size: 1rem;
    display: inline-block;
    margin: 1rem;
    padding: 10px;
    text-align: center;
    box-shadow: 7px 10px 12px -5px darkslategrey;
}

.Pokecard-title {
	margin-block: 0px;
	margin-bottom: 1rem;
}

.Pokecard-data {
	font-size: 80%;
	margin-block: 4px;
}

.Pokecard-images {
	width: 108px;
    padding-block: inherit;
    background-color: #eceff1;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.OnePokecard img {
	transition: all ease;
}

.OnePokecard img:hover {
	transform: scale(1.2);
	opacity: 0.7;
}