
.Pokedex-cards {
	display: block;
	justify-content: center;
}

.Pokedex-WinnerLoserBadge > h1, h4 {
	display: block;
	margin: 0px;
	padding: 0px;
}

.Pokedex-loserhandTag {
	color: indianred;
}

.Pokedex-winnerhandTag {
	color: lawngreen;
}