/*.App {
  text-align: center;
  margin-top: 2rem;
}

.main-centerdiv {
  display: flex;
  justify-content: center;
}

body {
background-color: #17181c;
color: azure;
background: linear-gradient(135deg, #B3E5FC 50%, #F06292 33%);
background-repeat: no-repeat;
background-attachment: fixed;
}
*/

/*the colt way for dadjokes*/
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:  linear-gradient(
    135deg, 
    rgba(179,229,252,1) 0%,
    rgba(179,229,252,1) 50%,
    rgba(240,98,146,1) 50%, 
    rgba(240,98,146,1) 100%
  );
  font-family: "Rubik", sans-serif;
  color: #78909c;
}