/* CustomInput.css */
.input-container {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Adjust icon size as needed */
  color: #aaa; /* Adjust icon color */
}

input[type="text"] {
  /*padding-left: 30px;*/padding-left: 6rem; /* Space for the icon */
  width: 250px; /* Adjust input width as needed */
  height: 40px; /* Adjust input height as needed */
  cursor: pointer;
}