.oneToDoItem {
    /*display: flex;
    color: white;
    padding: 0em 1em 0em;
    background-color: #FF6B69;
    margin-block: 0.1em;*/

    display: flex;
    height: 2rem;
    margin: 0 -3rem 4px;
    padding: 1.1rem, 3rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.oneToDoItem button {
    background: transparent;
    border: transparent;

    border: none;
    font-size: 1em;
    margin-inline: 0.4em;
    background: none;
    cursor: pointer;
    color: white;
    -webkit-appearance: none;
}

.oneToDoItem img {
    width: 1rem;
    height: 1rem;
}

.todoDescOpen {
    height: inherit;
    padding-inline: 3rem;
    background-color: inherit;
    width: 70vw;
}

.todoDescClosed {
    height: inherit;
    padding-inline: 3rem;
    color: red;
    width: 70vw;
    text-decoration-line: line-through;
}

.todoDescEdit {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: 3rem;
}

.todoDescEdit input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5rem;
    font-size: initial;
    height: 1.6rem;
}

.todoDescEdit button {
    padding: 0 1.3rem;
    border: none;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    height: 1.6em;
}