.taskentryform {
	margin: 0em 0em -1em;
}

.taskentryform h4 {
	margin-block-end: 0.3em;
}

.taskentryform input {
	height: 2em;
	border-style: hidden;
	transition: background-color 2s ease-out;
	text-indent: 1em;
}

.taskentryform input::placeholder {
	color: orangered;
	padding-left: 4px;
}

.taskentryform input::target-text {
	color: orangered;
	padding-left: 4px;
}

.taskentryform input:focus {
	background-color: lightskyblue;
}

.taskentryform button {
	height: 2.0em;
    background-color: inherit;
    border-color: white;
    border-style: solid;
    border-width: thin;
    color: white;
    margin-left: 0.2rem;
    padding-inline: 0.1rem;
    border-radius: 2px;
}