.pagecontents {
	display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

/*	background-color: rgb(45, 45, 45);*/
}

.article {
/*	background-color: white;*/
	/*display: flex;
	justify-content: center;*/
	width: 70vw;
}

.article img {
	width: 100%;
}

.sidenav {
	background-color: orangered;
	width: 10rem;
	z-index: -1;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.6);
	width: 10rem;
	position: absolute;
	z-index: 1;
	top: -5rem;
	left: -5rem;
	height: 10rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rotatingitems {
	transition: transform 0.5s linear;
}

.rotatingitems.show-nav {
	transform: rotate(-15deg);
	transform-origin: top left;
}