* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.container {
	background-color: #fafafa;
	transform-origin: top left;
	transition: transform 0.5s linear;
	width: 100vw;
	min-height: 100vh;
	padding: 50px;

}

.container.show-nav {
	transform: rotate(-20deg);
}

.container.show-nav + nav li {
	transform: translateX(0);
	transition-delay: 0.3s;
}

.circle-container {
	position: fixed;
	top: -5rem;
	left: -5rem;
}

.circle {
	background-color: #ff7979;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	position: relative;
	transition: transform 0.5s linear;
}

.circle button {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2rem;
	background: transparent;
	color: white;
	border: 0;
	font-size: 2rem;
}

.circle button:focus {
	outline: none;
}

.circle button#open {
	left: 66%;
    top: 50%;
}

.circle button#close {
	top: 71%;
    left: 47%;
    transform: rotate(60deg);
    transform-origin: top left;
}

.content img {
	max-width: 100%;
}

.content h1 {
	margin: 0;
}

.content small {
	color: #555;
	font-style: italic;
}

.content p {
	line-height: 1.5;
}

nav {
	position: fixed;
	bottom: 4rem;
	left: 1rem;
}

nav ul {
	list-style-type: none;
/*	transform: translateX(-10rem);*/
	transition: transform 0.4s ease-in-out;
}

nav ul li {
	margin: 2rem 0;
	text-transform: uppercase;
	color: white;
}

nav ul li i {
	margin-right: 1rem;
}

nav ul li + li {
	margin-left: 2rem;
}

nav ul li + li + li {
	margin-left: 4rem;
}