.thenavbar {
	display: flex;
	width: 100vw;
	height: 2rem;
	background-color: darkslategrey;
	color: azure;
	justify-content: right;
	align-items: center;
	margin-bottom: 1rem;
	padding-right: 1rem;
}

.thenavbar button {
    background-color: transparent;
    color: white;
    outline: none;
    padding: 0.1rem 0.5rem 0.2rem;
    font-weight: 800;
    border: 0.2rem solid darkturquoise;
    cursor: pointer;
}