/*:root {
  --app-primaryColor: default;
}*/

// Mode
$mode: default;
/*$mode: dark;*/
/*$mode: var(--app-primaryColor);*/

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import './core/layout/docs/layout';
