.Gallery {
/*	background-image: url('./assets/images/whiteWall.jpg');*/
/*	background-image: url('whiteWall.jpg');*/
}

.background{
	width: 96vw;
    height: 96vh;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
}

.object01{
	height: 90%;
    position: absolute;
    top: 8vh;
    left: 60vw;
    z-index: 2;
}

.banner {
	position: absolute;
    z-index: 3;
    top: 10%;
    left: 18%;
    width: 40vw;
    height: 32vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin: 0;
    border-radius: 1rem;
    color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1,h3 {
	font-family: 'Rubik';
	margin: 0.5rem;
}

.navbar {
	position: absolute;
	top: 0;
	left: 97vw;
	width: 3vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 4;
}

.active-link {
	color: yellow;
}

section a {
	color: skyblue;
}