.patanjalimodal {
	background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
}