.jokelist {
	display: flex;
	width: 80%;
	height: 80%;
}

.jokelist-sidebar {
	background-color: #9575cd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 30%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1), inset 0 0 25px #7e57e2;
	z-index: 2;
}

.jokelist-title {
	font-size: 2vw;
	margin: 2rem;
	color: white;
	font-weight: 300;
	letter-spacing: 0.6rem;
}

.jokelist-title span {
	font-weight: 700;
	letter-spacing: 0;
}

.jokelist-sidebar img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1), inset 0 0 25px #7e57e2;	
}

.jokelist-sidebar img:hover {
	animation-name: shake;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}

.jokelist-jokes {
	background-color: white;
	height: 90%;
	align-self: center;
	overflow: scroll;
	width: 70%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.jokelist-getmore {
	font-size: 1.5rem;
	width: 50%;
	border-radius: 2rem;
	padding: 1rem 2rem;
	background:  linear-gradient(
	    135deg, 
	    rgba(179,229,252,1) 0%,
	    rgba(179,229,252,1) 50%,
	    rgba(240,98,146,1) 50%, 
	    rgba(240,98,146,1) 100%
	  );
	color: white;
	font-weight: 700;
	margin: 2rem;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
	word-spacing: 0.5rem;
	outline: none;
	cursor: pointer;
	transition: 0.2s;

}

/*-------------------------------------------------*/

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}