.joke {
	display: flex;
	border-bottom: 2px solid #eeeeee;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	padding: 1rem;
}

.joke-buttons {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}

.joke span {
	height: 50px;
	width: 50px;
	line-height: 50px;
	border: 2px solid red;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up, .fa-arrow-down {
	font-size: 1.5rem;
	margin: 10px;
	cursor: pointer;
}

.fa-arrow-up:hover {
	color: green;
	animation-name: moveup;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
}

.fa-arrow-down:hover {
	color: red;
	animation-name: movedown;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
}

.joke-smiley {
	font-size: 3rem;
	margin-left: auto;
	border-radius: 50%;
}

.joke-smiley img {
	width: 1em;
	border-radius: 50%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1), inset 0 0 25px #7e57e2;	
}

.joke-smiley:hover {
	animation-name: spinme;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
}

.thejoke {
	font-size: 1.2rem;
	width: 75%;
	font-family: 'Gotu';
}

@keyframes movedown {
	0% {
		transform: translateY(2px);
	}
	30% {
		transform: translateY(4px);
	}
	70% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes moveup {
	0% {
		transform: translateY(-2px);
	}
	30% {
		transform: translateY(-4px);
	}
	70% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes spinme {
	0% {
		transform: rotate(0deg);
	}
	3% {
		transform: rotate(20deg);
	}
	60% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}