.searchframe {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightpink;
    width: 60vw;
    height: 40vh;
}

.searchframe section: nth-of-type(1) {
	background-color: seagreen;
	border: 2px soild darkseagreen;
}

.searchframe img {
	width: 100%;
    height: inherit;
    border-radius: 1rem;
    border: 4px solid white;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.2);
}

h2 {
	font-family: 'Zeyada';
}