.dogcardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
}

.dogcard {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
	/*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 2px solid grey;
    width: min-content;
    padding-bottom: 1rem;
    border-radius: 0.5rem;*/
}

img {
  image-rendering: crisp-edges;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

img {
  /*height: 100px;
  float: left;*/
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  /*transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);*/
}