.doglinks {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.doglinks img {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
}

@media (max-width: 800px) {
	.doglinks {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}	
}