
.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	min-width: 100%;
	
}

.progress-container::before {
	content: "";
	position: absolute;
	background-color: darkslategray;
	height: 2px;
	width: 100%;	
	z-index: 1;
	transform: translateY(13px);
}

.progress {
	position: absolute;
	background-color: lightskyblue !important;
	height: 2px !important;
	width: 0%;	
	z-index: 2;
	transform: translateY(13px);
	transition: 0.4s ease;
}

.circle {
	background-color: white;
	color: #999;
	border: 1px solid black;
	border-radius: 50%;	
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.circle.active {
	/* border-color: #349adb; */
    background-color: #DDDDDD;
    border: none;
    z-index: 3;
}

.outerborder {
    border: 4px solid white;
    border-radius: 50%;
}