.ball{
	background-color: tomato;
    border-radius: 50%;
    width: 3rem;
    height: 2.5rem;
    padding-top: 0.5em;
    display: inline-block;
    margin-right: 0.5em;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}