.Lottery {
    border: 1px solid orange;
    margin-block: 1rem;
    border-radius: 10px;
    width: 30rem;
    text-align: center;
    border-radius: 4;
    display: inline-block;
}

.Lottery button {
    font-size: 1em;
    margin-block: 1em;
    background-color: orange;

}

.balls {
    display: inline-block;
}

.ball {
	display: inline-flex;
    justify-content: center;
    float: left;
    padding: 5px;
    background-color: yellow;
}