.subcolorbox {
	display: inline-block;
	width: 20%;
	height: 50%;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	margin-bottom: -0.6rem;
}

.subcolorbox-copy-button {
	position: absolute;
	top: 50%;
	left: 50%;
	border: none;
	width: 20%;
	height: 16%;
	margin-left: -2rem;
	margin-top: -0.6rem;
	font-size: 1rem;
	line-height: 1rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background: rgba(255, 255, 255, 0.3);
	border: none;
	opacity: 0;
}

.subcolorbox:hover .subcolorbox-copy-button {
	opacity: 1;
	transition: 0.5s ;
}

.subcolorbox-box-content {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 0.3rem;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
}

.see-more {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 0.3rem;
	border: none;
}

.subcolorbox-copy-overlay {
	opacity: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transform: scale(0.1);
	transition: 0.4s transform ease-in-out;
}

.subcolorbox-copy-overlay.show {
	opacity: 1;
	z-index: 10;
	transform: scale(10);
	position: absolute;
}

.subcolorbox-copy-msg {
	z-index: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	color: white;
	transform: scale(0.1);
}

.subcolorbox-copy-msg.show {
	z-index: 20;
	opacity: 1;
	transform: scale(1.0);
	transition: all 0.3s ease-in-out;
	transition-delay: 0.4s;
}

.subcolorbox-copy-msg h1 {
	text-transform: uppercase;
	text-shadow: 1px 2px rgba(255, 255, 255, 0.6);
	font-weight: 400;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	margin-bottom: 0;
	padding: 1rem;
	text-align: center;
}

.subcolorbox-copy-msg p {
	font-size: 2rem;
	font-weight: 100;
}