.onejokediv {
	background-color: #D8DDE0;
	color: black;
}

.onejokediv tr {
	display: flex;
    height: 3rem;
    border-block: 1px solid rgba(0,0,0,0.1);
}

.onejokediv td:nth-of-type(1) {
	width: 8rem;
	vertical-align: middle;
}

.onejokediv button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.jokescorediv {
	border-radius: 50%;
    border: 2px solid;
    background-color: inherit;
    color: darkgray;
    padding: 0.7rem;
    margin-inline: 0.5rem;
    /* vertical-align: middle; */
    display: inline-block;
    /* border-top-width: thick; */
}

.onejokediv td:nth-of-type(2) {
	width: 38rem;
	vertical-align: middle;
}

.onejokediv td:nth-of-type(3) {
	width: 8rem;
	vertical-align: middle;
}

.onejokediv td:nth-of-type(3) img {
    width: 3rem;
    height: 3rem;
    background: transparent;
/*    box-shadow: 7px 10px 12px -5px darkslategrey;*/
}

.onejokediv td:nth-of-type(3) img:hover {
    width: 3.2rem;
    height: 3.2rem;
}

i.fa-arrow-up:hover {
    color: green;
    transform: translate(0px,-4px);
    transition: 0.5s;
}

i.fa-arrow-down:hover {
    color: darkred;
    transform: translate(0px,4px);
    transition: 0.5s;
}