.modalspace {
	display: flex;
}

.leftblock {
	background-color: #9575CD;
    height: 78vh;
    width: 21vw;
    margin-block: 10vh;
    margin-inline-start: 7vw;
    box-shadow: 7px 10px 12px -5px darkslategrey;
    border-radius: 4px;
}

.rightblock {
    height: 72vh;
    width: 64vw;
    margin-block: 13vh;
    margin-inline-start: 0vw;
    overflow-y: scroll;
    box-shadow: 7px 10px 12px -5px darkslategrey;
    border-radius: 4px;
}