.tododialog {
	/*background-color: #FD5B5C;
    margin-inline: 20vw;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    box-shadow: -8px -8px 9px lightslategray;*/

    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 70vw;
    background-color: #ff6666;
    color: white;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

.tododialog h1 {
	/*margin-block-end: -0.67em;
	margin-inline-start: 1em;*/
	font-weight: normal;
	font-size: 2.6rem;
	letter-spacing: 0.05em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tododialog h6 {
/*	margin-inline-start: 3.4em;*/
	display: block;
	font-size: 0.8rem;
	margin-bottom: 0.7rem;
	margin-left: 3px;
	margin-top: 0.2rem;
}

.todolistpopulation {
	margin-top: 0.6rem;
	margin-bottom: 1.6rem;
}