.myinterface {
   display: block;
   margin: 4em; 
}

.message-container {
    border: 1px solid white;
    height: 40vh;
    width: 74vw;
}

label {
    padding-inline-end: 10px;
}

input {
    padding-inline: 10px;
    width: 50vw;
}

button {
    padding-inline-end: 10px;
}