* {
	margin-block: none;
}

.CardDrawer {
	background-color: #151819;
	color: azure;
	letter-spacing: 5px;
}

.CardDrawer button {
	background: none;
    padding: 1rem 2rem 1rem;
    border-radius: 2%;
    border: 2px solid;
    color: #009688;
    font-weight: 600;
    transition: 0.25s;
}

.CardDrawer button:hover {
	border-color: #4caf50;
	color: white;
	box-shadow: inset 0 0 0 2em #4caf50;
}

#cardimage {
	display: flex;
	justify-content: center;
	margin-block-start: 2rem;
	transform: rotate(6deg) translate(1rem);
}

.cardstack {
	display: flex;
	justify-content: center;
	margin-block-start: 4rem;
}