* {
	/*adjust the border according to the parent/container*/
	box-sizing: border-box;
}

body {
	background-color: #f6f7fb;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;	/*clip the contents if necessary to fit into the padding box*/
	margin: 0;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress-container::before {
	content: "";
	position: absolute;
	background-color: #e0e0e0;
	height: 4px;
	width: 100%;	
	z-index: 1;
	transform: translateY(13px);
}

.progress {
	position: absolute;
	background-color: #3498db;
	height: 4px;
	width: 0%;	
	z-index: 2;
	transform: translateY(13px);
	transition: 0.4s ease;
}

.circle {
	background-color: white;
	color: #999;
	border: 3px solid #e0e0e0;
	border-radius: 50%;	
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.circle.active {
	border-color: #349adb;
}

.btn {
	background-color: #3498db;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-family: inherit;
	padding: 8px 30px;
	margin: 5px;
	font-size: 14px;
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline: 0;
}

.btn:disabled {
	background-color: #e0e0e0;
	cursor: not-allowed;
}