.onecard {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 90vh;
	justify-content: space-evenly;
}

.links {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	width: 96%;
	justify-content: space-between;
	/*background-color: grey;*/
}

.thecard {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 90%;
	height: 90%;
	background-color: white;
	color: black;
	border: 2px solid black;
/*	box-shadow: 0 19px 38px rgba(0, 0, 0, 1.0), 0 15px 12px rgba(0, 0, 0, 0.1);*/
	box-shadow: 10px 10px 1px black;
}