.root {
	border-radius: 5px;
	background-color: white;
	padding: 0.5rem;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.root:hover {
	cursor: pointer;
}

.colors {
	background-color: '#dae1e4';
	height: 100px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	color: black;
	padding-top: 0.5rem;
	font-size: 1rem;
	position: relative;
}

.emoji {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

.miniColor {
	height: 25%;
	width: 20%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	margin-bottom: -3.5px;
}