.Navbar {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
}

.logo {
	margin-right: 2rem;
    padding: 8px 13px;
    margin-block: 0px;
    background-color: gray;
}

.logo a {
	text-decoration: none;
	color: white;
}

.slider {
	width: 340px;
	margin-inline: 2rem;
	display: flex;
}

.rc-slider {
	height: 18px;
}

.rc-slider-track {
	background-color: transparent;
}

.rc-slider-rail {
	height: 1rem;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle {
	outline: none;
	box-shadow: none;
	background-color: green;
	border: 2px solid green;
	margin-block: 0px;
	left: 2%;
}