.palettelist {
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.container {
	display: flex;
	align-items: flex-start;
	width: 50%;
	flex-direction: column;
	flex-wrap: wrap;
}

.nav a {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: white;
	align-items: center;
}

.palettes {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-gap: 5%;
}

.palettes a {
	text-decoration: none;
}