.Palette {
	height: 100vh;
	/*vertical scrolling khatm karne ka jugaad*/
	display: flex;
	flex-direction: column;
}

.Palette-colors {
	height: 90%;
}

.Palette .palette-footer {
	background-color: white;
	height: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	margin-left: auto;
}

.emoji {
	margin:'1rem';
	font-size: '3.5rem';
}