.App {
  /*display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;*/
}

.main-centerdiv {
  display: flex;
  justify-content: center;
}

body {
background-color: #17181c;
color: azure;
/*background: linear-gradient(135deg, #F9DBC6 50%, #BBE3DC 33%);*/
/*background: linear-gradient(90deg, #F9DBC6 50%, #BBE3DC 100%);*/
background-repeat: no-repeat;
background-attachment: fixed;
}

.hinditext {
  font-family: 'Gotu';
}

.image2toggle {
  display: flex;
  align-items: baseline;
  width: 60dvw;
  height: 40dvh;
  border: 2px solid white;
}